<div class="x_panel tile">
	<div class="x_title">
		<h2>{{title}}</h2>
      	<div class="clearfix"></div>
    </div>
    <div class="x_content">
    	<div></div>
        <div class="clearfix"></div>
    </div>
</div>