<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="media/icon.png">
    <link rel="icon" href="media/favicon.ico">
    <base href="/" target="_blank">

    <title>Social Datamining Tool</title>
    
    <!-- jQuery -->
    <script src="templates/gentelella/vendors/jquery/dist/jquery.min.js"></script>
    <!-- HistoryJS -->
    <script src="templates/gentelella/vendors/history/jquery.history.js"></script>
    <!-- WUI Engine -->
    <script src="js/wuiengine.js"></script>
    <script src="templates/gentelella/wuitemplate.js"></script>
    <script src="wui/element_controllers.js"></script>

    <!-- Bootstrap -->
    <link href="templates/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="templates/gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="templates/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="templates/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="templates/gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="templates/gentelella/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="templates/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- PNotify -->
    <link href="templates/gentelella/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="templates/gentelella/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="templates/gentelella/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="templates/gentelella/css/custom.css" rel="stylesheet">
	
  </head>
  <body class="nav-md busy">
	  <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a class="site_title"><img src="media/icon.png"/> <span title="Social Datamining Tool">SDM Tool</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- /menu profile quick info -->

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            	{{{menu}}}
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <span class="navbar-title" id="navbar-title">Title</span>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div id="content" class="right_col" role="main">
          {{{body}}}
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Social Datamining Tool
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    
    <!-- Busy Indicator -->
    <div id="busy-indicator"><span>Loading...</span></div>
    
    <!-- Bootstrap -->
    <script src="templates/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="templates/gentelella/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="templates/gentelella/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="templates/gentelella/vendors/Chart.js/dist/Chart.bundle.min.js"></script>
    <!-- gauge.js -->
    <script src="templates/gentelella/vendors/bernii/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="templates/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="templates/gentelella/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="templates/gentelella/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="templates/gentelella/vendors/Flot/jquery.flot.js"></script>
    <script src="templates/gentelella/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="templates/gentelella/vendors/Flot/jquery.flot.time.js"></script>
    <script src="templates/gentelella/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="templates/gentelella/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="templates/gentelella/js/flot/jquery.flot.orderBars.js"></script>
    <script src="templates/gentelella/js/flot/date.js"></script>
    <script src="templates/gentelella/js/flot/jquery.flot.spline.js"></script>
    <script src="templates/gentelella/js/flot/curvedLines.js"></script>
    <!-- jVectorMap -->
    <script src="templates/gentelella/js/maps/jquery-jvectormap-2.0.3.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="templates/gentelella/js/moment/moment.min.js"></script>
    <script src="templates/gentelella/js/datepicker/daterangepicker.js"></script>
    <!-- PNotify -->
    <script src="templates/gentelella/vendors/pnotify/dist/pnotify.js"></script>
    <script src="templates/gentelella/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="templates/gentelella/vendors/pnotify/dist/pnotify.nonblock.js"></script>
    
    <!-- Custom Theme Scripts -->
    <script src="templates/gentelella/js/custom.js"></script>

  </body>
</html>